.action {
    position: relative;
    background-color: #2B2F31;
    min-width: 354px;
    max-width: 354px;

    >svg {
        position: absolute;
        cursor: pointer;
        top: 25px;
        right: 20px;
    }

    &__search {
        display: flex;
        align-items: center;
        margin-top: 114px;
        padding-left: 25px;
        padding-right: 40px;

        >svg {
            cursor: pointer;
        }

        .wrapper {
            display: flex;
            align-items: center;
            background-color: #3C3D3E;
            border: 1px solid #2D2F30;
            box-sizing: border-box;
            border-radius: 8px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 26px;
            padding-right: 15px;
            width: 100%;
            margin-right: 12px;
        }

        input {
            position: relative;
            font-weight: bold;
            font-size: 10px;
            line-height: 11px;
            letter-spacing: 0.01em;
            width: 100%;
            color: rgba($color: #FFFFFF, $alpha: 0.4);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .add-system {
            margin-left: 2rem;
            margin-top: 19px;
        }

        .title {
            font-weight: bold;
            font-size: 10px;
            line-height: 11px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            padding: 0 108px;
            margin-bottom: 44px;
            margin-top: 80px;
        }
    }
}