.navigation {
   background: #1D1D1E;
   display: flex;
   flex-direction: column;
}

.navigation__logo {
   padding: 62px;
   width: 100%;
   object-fit: contain;
}

.navigation__logo--mini {
   padding: 0;
   width: 24px;
   height: 22px;
   margin: 62px auto 58px;
}

.navigation__link-title {
   background: rgba($color: #C4C4C4, $alpha: 0.2);
   padding: 7px 15px 10px 5px;
   display: flex;
   justify-content: space-between;

   span {
      margin-left: 34px;
   }
}

.navigation__link-title--mini {
   span {
      margin-left: 19px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   svg {
      width: 100%;
   }
}

.navigation__link-tab {
   display: flex;
   align-items: center;
   margin-bottom: 21px;
   margin-left: 34px;
   margin-top: 11px;

   svg {
      margin-right: 10px;
   }
}

.navigation__link-tab--mini {
   margin-left: 20px;
}