.alert {
   display: flex;
   align-items: center;
   background: rgba(80, 228, 167, 0.5);
   border: 1px solid #50E4A7;
   border-radius: 8px;
   padding: 11px 7px;

   svg {
      width: 24px;
      height: 24px;
   }
}

.alert__title {
   width: 100%;
   margin-left: 7px;
}