.button {
   display: flex;
   align-items: center;
   margin-left: auto;
   padding: 10px 16px;
   border-radius: 8px;
}

.button--full {
   width: 100%;
   padding: 16px;
   justify-content: center;
}

.button-action {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 4px;

   span {
      margin-left: 4px;
      color: #FFFFFF;
   }
}

.button-action--normal {
   &:hover {
      background: #3776FF;
   }
}

.button-action--delete {
   path {
      fill: #FF5E5B;
   }

   span {
      color: #FF5E5B;
   }

   &:hover {
      background: #FF5E5B;
      border-radius: 0 0 8px 8px;

      path {
         fill: #FFFFFF;
      }

      span {
         color: #FFFFFF;
      }
   }
}