.input {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
}

.input__element {
   width: 100%;
}

.input__wrapper {
   display: flex;
   align-items: center;
   margin-top: 9px;
   padding: 8px 14px;
   border-radius: 8px;
   background: #000000;
}

.input--focus {
   border: 1px solid #3776FF;
}

svg {
   cursor: pointer;
}