.search {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #3C3D3E;
   border: 1px solid #2D2F30;
   box-sizing: border-box;
   border-radius: 8px;
   padding: 6px 15px;
   width: 100%;

   input {
      width: 100%;
   }
}