.table {
   display: grid;
   grid-template-columns: 0.5fr 5fr 2fr 5fr 0.5fr;
   column-gap: 10px;
   row-gap: 6px;
   padding-top: 19px;
   padding-left: 36px;
   padding-right: 46px;
   padding-bottom: 34px;

   &__header {
      display: flex;
      font-weight: bold;
      font-size: 10px;
      line-height: 11px;
      letter-spacing: 0.02em;
      color: rgba($color: #BDCACA, $alpha: 0.5);

      &.--menu {
         margin: auto;
         background: #3C3D3E;
         border-radius: 3px;
         width: 14px;
         height: 14px;
         cursor: pointer;
      }
   }

   &__body {
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.01em;
      border-radius: 8px;
      vertical-align: middle;

      &.--title {
         color: #FFFFFF;
         padding-left: 15px;
         padding-top: 8px;
         padding-bottom: 8px;
         padding-right: 12px;
         background: #000000;
         display: flex;

         span {
            margin-left: auto;
            opacity: 0.2;
         }
      }

      &.--menu {
         margin: auto;
         cursor: pointer;

         svg {
            width: 16px;
            height: 17px;
         }

         rect {
            fill: rgba($color: #8E8F8F, $alpha: 0.2);
         }
      }

      &.--action {
         margin: auto;
         cursor: pointer;
      }
   }
}