.main__environment-capsules {
   background: #000000;
   border-radius: 9px;
   padding: 6px 0 6px 13px;
   white-space: nowrap;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;

   svg {
      width: 2rem;
      margin-left: 5px;
   }

   &:not(:last-child) {
      margin-right: 8px;
   }
}

.main__environment-capsules--active {
   background: #3776FF;
}