/* Color Variables
    How to use:
    h1 {
    color: $primary-color
    }
*/
$primary-color : #17948C;
$secondary-color : #17948c33;
$dark-primary-color: #000000;
$dark-secondary-color:#495050;
$dark-third-color:#333333;
$dark-border-color:#E4E7E7;
$light-color: #FFFFFF;
$grey-color-01: #FAFAFA;
$grey-color-02: #F2F3F3;
$grey-color-03: #E4E7E7;
$grey-color: #828282;
$yellow-color: #F9AE18;
$purple-color: #6E2646;
$green-color: #17948C;
$blue-color: #DFF5F3;
$red-color: #FF0F00;
$red-color-02: #EB5757;
$red-color-03: #FAD1D1;